<footer class="footer">
    <div class="newsLetter">
        <h2>Delmonte</h2>
        <p>Restez au courant à travers la newsletter</p>
        {{ form_start(form_newsletter) }}
            <div class="input-submit">
                {{ form_widget(form_newsletter.email, {'label': false, "attr": {"placeholder": "Votre adresse e-mail"}}) }}
                <button type="submit">S'abonner</button>
            </div>
        {{ form_end(form_newsletter) }}

        {% for type, messages in app.flashes %}
            {% for message in messages %}
                <div class="{{ type }}-msg">{{ message }}</div>
            {% endfor %}
        {% endfor %}
    </div>
    <div class="endfooter">
        <ul class="footer-nav">
            <li><a href="">Membres</a></li>
            <li><a href="">Artisan</a></li>
            <li><a href="">Collection</a></li>
            <li><a href="">Contact</a></li>
        </ul>

        <ul class="footer-logo">
            <li><a href=""><i class="fa-brands fa-x-twitter"></i></a></li>
            <li><a href=""><i class="fa-brands fa-tiktok"></i></a></li>
            <li><a href=""><i class="fa-brands fa-instagram"></i></a></li>
        </ul>

        <div class="copyright">
            <p>COPYRIGHT © DELMONTE 2024</p>
        </div>

        <div class="footer-end">
            <p>SITE CONCEPTUALISÉ & RÉALISÉ PAR</p>
            <p>KEVIN MONTEIRO & CORENTIN JENNI</p>
        </div>
    </div>
</footer>