{% extends 'baselogin.html.twig' %}

{% block title %}Espace client | Delmonte{% endblock %}

{% block body %}
    <div class="profile">
        <div class="infos-container">
            <div class="text">
                <h2>{{ user.lastname }} {{ user.firstname }}</h2>
                <div class="member">
                    <p class="isMember">Membre affilié :</p>
                    {% if user.member %}
                        <p class="mmber">OUI</p>
                    {% else %}
                        <p class="notMember">NON</p>
                    {% endif %}
                </div>
                <h3>Vos informations personnelles</h3>
            </div>
            {{ form_start(form) }}
                {{ form_widget(form.firstname, {'label': false, "attr": {"placeholder": "Nom"}}) }}
                {{ form_widget(form.lastname, {'label': false, "attr": {"placeholder": "Prénom"}}) }}
                {{ form_widget(form.email, {'label': false, "attr": {"placeholder": "Adresse e-mail"}}) }}
                {{ form_widget(form.password, {'label': false, "attr": {"placeholder": "Mot de passe"}}) }}
                <button type="submit">Modifier le profil</button>
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}
