{% extends 'base.html.twig' %}

{% block title %}Contact | DelMonte{% endblock %}

{% block body %}
<div class="contact">
    <div class="txt">
        <h2>Nous Contacter</h2>
        <p>Dans le cas ou vous souhaitez confectionner une pièce entièrement sur-mesure, vous devez nous fournir tous les détails concernant celle-ci (matériaux. dimensions, détails). Nous reviendrons vers vous par la suite, envisagez un possible entretien téléphonique afin de déterminer avec plus de précision vos attentes.</p>
    </div>

    {{ form_start(contactForm) }}
        {{ form_row(contactForm.email, {'label': false, "attr": {"placeholder": "Adresse e-mail"}}) }}
        {{ form_row(contactForm.concerne, {'label': false, "attr": {"placeholder": "Concerne"}}) }}
        {{ form_row(contactForm.message, {'label': false, "attr": {"placeholder": "Votre message"}}) }}
        <button type="submit">Envoyer</button>
    {{ form_end(contactForm) }}
</div>

{% for message in app.flashes('success') %}
    <div class="alert alert-success">{{ message }}</div>
{% endfor %}
{% for message in app.flashes('error') %}
    <div class="alert alert-danger">{{ message }}</div>
{% endfor %}
{% endblock %}
