{% extends 'baselogin.html.twig' %}

{% block title %}Gestion des collections | Delmonte{% endblock %}

{% block body %}
<div class="admin-collections">
    <div class="title">
        <h2>Liste des collections</h2>
        <p>Choisissez une collection pour y accéder</p>
    </div>

    <div class="collections">
        {% for collection in collections %}
            <div class="container">
                <div class="coll">
                    <a href="/admin/collections/{{ collection.id }}">Collection Année {{ collection.year }}</a>
                </div>
                <div class="icons-settings">
                    <form action="{{ path('app_admin_collections_delete', {'id': collection.id}) }}" method="post" style="display:inline;">
                        <input type="hidden" name="_method" value="DELETE">
                        <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ collection.id) }}">
                        <button type="submit" class="btn-trash">
                            <i class="fa-solid fa-trash trash"></i>
                        </button>
                    </form>
                    <a href="{{ path('app_admin_collections_edit', {'id': collection.id}) }}"><i class="fa-solid fa-edit"></i></a>
                </div>
            </div>
        {% endfor %}
    </div>
</div>

<a class="create-collection" href="/admin/collections/add">Créer une collection</a>
{% endblock %}
